{%- from 'components/header.njk' import headerContent -%}
{%- from "components/mobile-menu.njk" import mobileMenu,introSection -%}
{%- from "components/about.njk" import combinedImageMacro -%}
{%- from "components/navigation.njk" import NavigationsHome -%}
{%- from "components/news.njk" import swiperCarousel -%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="styles/core.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>
<body>
  {% block content %}
    {{ headerContent() }}
    {{ mobileMenu() }}
    {{ introSection("H1 Lorem ipsum dolor sit", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.") }}
    {{ combinedImageMacro("//ph.stratis.pro/img/380/300/E0E0E0","[IMAGE ALT]") }}
    {{ NavigationsHome() }}
    
    {# Slider Content #}
    {{ swiperCarousel([
      { 'image': 'images/slider.jpg', 'name': 'Slide 1', 'description': 'Description for Slide 1', 'details': 'Details for Slide 1', 'link': 'slide1-link' },
      { 'image': 'images/slider.jpg', 'name': 'Slide 2', 'description': 'Description for Slide 2', 'details': 'Details for Slide 2', 'link': 'slide2-link' },
      { 'image': 'images/image3.jpg', 'name': 'Slide 3', 'description': 'Description for Slide 3', 'details': 'Details for Slide 3', 'link': 'slide3-link' },
      { 'image': 'images/image4.jpg', 'name': 'Slide 4', 'description': 'Description for Slide 4', 'details': 'Details for Slide 4', 'link': 'slide4-link' }
    ]) }}
  {% endblock %}
  <script src="main.js"></script>
</body>
</html>
