section.about {
  margin: 80px 0;
  position: relative;

  .about-focus,
  .custom-focus {
    display: flex;
    column-gap: 30px;
    margin: 0 0 30px;

    .rte h2 {
      margin-bottom: 15px;
    }
  }
}
