section.contact {
  position: relative;

  .contact {
    &_wrapper {
      background-color: $color-2--2;
      display: grid;
      padding: 0;
      margin: 0;
      max-width: 100%;
      grid-template-columns: repeat(2, 1fr);
    }

    &_image {
      img {
        width: 100%;
        height: 100%;
      }
    }

    &_form {
      width: 100%;
      padding: 51px 51px 100px;
      position: relative;

      label {
        font-size: 18px;
        margin: 10px 0;
        display: table;
      }

      form {
        .form-group {
          .form-control,
          .form-message {
            width: 460px;
            display: grid;
            height: 60px;
            border-radius: 50px;
            text-align: left;
            padding-left: 28px;
            border: 1px solid $color-1--1;
            font-size: 16px;
          }

          .form-message {
            height: 80px;
            border-radius: 25px;
          }
        }

        .btn-default {
          @include absolute(null, 0, null, null);
          margin: 25px 50px;
          padding: 2px;
          background-color: $color-1--1;
          color: $color-1--3;
          border: 1pc solid $color-1--1;
          border-radius: 50px;
        }
      }
    }
  }
}
