
.intro {
  background-image: url(http://placehold.jp/1600x770.jpg);
     position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 770px;
    background-size: cover;
    background-repeat: no-repeat;

  &::after {
    @include absolute(0, null, null, 0);
    @include size(100%,100%);
    content: '';
    background-color: $color-1--2;
    opacity: 1;
    background: transparent linear-gradient(180deg, #00000000 0%, #111111 100%) 0% 0% no-repeat padding-box;
  }

  &__content {
    @include absolute(null, null, 80px, 200px);
    z-index: 1;
    text-align: center;

     @include breakpoint-down(medium) {
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
      }

    h6 {
      margin-bottom: 20px;
      color: $color-1--3;
      font-size: 45px;
      text-align: left;

        @include breakpoint-down(medium) {
          text-align: center;
        }

        @include breakpoint-down(small) {
          text-align: center;
          font-size: 25px;
        }
    }

    h1 {
      color: $color-1--3;
      margin-bottom: 40px;
      font-size: 20px;
      text-align: left;

       @include breakpoint-down(medium) {
          text-align: center;
        }

        @include breakpoint-down(small) {
          font-size: 14px;
        }
    }
  }
}
