.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background-color: $color-1--1;
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -260px;
  width: 260px;
  height: 100%;
  overflow-y: auto;
  background-color: $color-1--1;
  z-index: 999;
  transition: right .3s ease;

  &__close {
    display: block;
    padding: 20px;
    background-color: $color-1--3;
    color: $color-1--2;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;

    i {
      margin-left: 10px;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      border-bottom: 1px solid $color-1--3;

      a {
        padding: 20px;
        display: block;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
      }
    }
  }

  &.is-open {
    right: 0;
  }
}