.navigation-item {
  background-color: $color-2--2;
  border-radius: 5px;
  color: $color-1--3;
  display: flex;
  margin: 0 8px;
  padding: 54px 57px;

  img {
    display: block;
    fill: $color-1--1;
    margin: 0 auto 15px;
  }

  &__text {
    display: block;
    padding-left: 10px;
    text-align: center;
    text-decoration: none;

    .underline {
      color: $color-1--2;
    }

    span {
      display: block;
      line-height: 1.1;
    }
  }

  &__title-link {
    &:focus {
      &::after {
        outline-offset: -3px;
      }
    }
  }
}
