.navigations {
  position: relative;

  .section__content {
    .navigations__wrapper {
      .navigations__list {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 30px;
        justify-content: center;

        .navigation-block {
          &__item {
            list-style: none;
            width: 31%;

            @include breakpoint-down(medium) {
              width: 45%;
            }
            
            @include breakpoint-down(small) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
