{%- macro swiperCarousel(slides) %}
  <section class="news">
    <div class="container">
      {% set titre = '<span class="green-first-word">N</span>ews' %}
      <h3 class="title is-primary">
        {{ titre | safe }}
      </h3>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper content">
          {%- for slide in slides %}
            <div class="swiper-slide card">
              <div class="card-content">
                <div class="image">
                  <img src="{{ slide.image }}" alt=""> 
                </div>
                <div class="content_item">
                  <h2 class="title is-primary">{{ slide.name }}</h2>
                  <span class="underline">{{ slide.description }}</span>
                  <p class="encadre_secondary">{{ slide.details }}</p>
                  <div class="section__more-links">
                    <a href="{{ slide.link }}" class="btn is-primary">Read more</a>
                  </div>
                </div>
              </div>
            </div>
          {%- endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
      
      <div class="section__more-links has-news">
        <a href="#" class="btn is-md-small" data-content="See all news">
          <span aria-hidden="true" class="far fa-light"><i class="fa-sharp fa-regular fa-eye"></i></span>
          <span class="btn__text">See all news</span>
        </a>
      </div>
    </div>
  </section>
{%- endmacro %}
