{%- macro SocialIcons() -%}
  <ul class="social-links is-inverted">
                            <li class="social-links__item">
                                <a href="#" class="social-links__link js-tooltip " target="_blank" data-content="Notre Facebook">
                                    <span aria-hidden="true" class="fab fa-facebook-f"></span>
                                    <span class="social-links__link-text ghost">Notre Facebook
                                    </span>
                                </a>
                            </li>
                            <li class="social-links__item">
                                <a href="#" class="social-links__link js-tooltip " target="_blank" data-content="Notre Twitter">
                                    <span aria-hidden="true" class="fab fa-twitter"></span>
                                    <span class="social-links__link-text ghost">Notre Twitter
                                    </span>
                                </a>
                            </li>
                            <li class="social-links__item">
                                <a href="#" class="social-links__link js-tooltip " target="_blank" data-content="Notre Youtube">
                                    <span aria-hidden="true" class="fab fa-youtube"></span>
                                    <span class="social-links__link-text ghost">Notre Youtube
                                    </span>
                                </a>
                            </li>
                            <li class="social-links__item">
                                <a href="#" class="social-links__link js-tooltip " target="_blank" data-content="Notre Instagram">
                                    <span aria-hidden="true" class="fab fa-instagram"></span>
                                    <span class="social-links__link-text ghost">Notre Instagram
                                    </span>
                                </a>
                            </li>
                            <li class="social-links__item">
                                <a href="#" class="social-links__link js-tooltip " target="_blank" data-content="Notre Instagram">
                                    <span aria-hidden="true" class="fab fa-linkedin"></span>
                                    <span class="social-links__link-text ghost">Notre Instagram</span>
                                </a>
                            </li>
                        </ul>
{%- endmacro -%}
